/* ===================================================== */
/*                    @FONT-FACE                         */
/* ===================================================== */

@font-face{

    font-family: "MyFont";

    src: url("../Fonts/Roboto/static/Roboto-Black.ttf") format("truetype");

    font-weight: 800;

    font-style: italic;

}


/* ===================================================== */
/*                  COMMON STYLE                         */
/* ===================================================== */

.One{

    width: 500px;

    border: 2px solid brown;

    padding: 20px;

}


/* ===================================================== */
/*                    CUSTOM FONT                        */
/* ===================================================== */

.One{

    font-family: "MyFont";

}