/* ===================================================== */
/*                  COMMON STYLE                         */
/* ===================================================== */

.One{

    width: 500px;

    border: 2px solid brown;

    padding: 20px;

}


/* ===================================================== */
/*                  GOOGLE FONT                          */
/* ===================================================== */

.One{

    font-family: "Roboto", sans-serif;

}


/* ===================================================== */
/*                  FONT WEIGHT                          */
/* ===================================================== */

.Bold{

    font-weight: 700;

}


/* ===================================================== */
/*                  FONT STYLE                           */
/* ===================================================== */

.Italic{

    font-style: italic;

}